body {
	color: #91679C;
	vertical-align: text-top;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.hide {
	display: none;
}

.framer {
	display: block;
	float: left;
	clear: right;
	width: 350px;
	margin: 10px;
	padding: 10px;
	background-color: #D0D0D0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.indexTitle {
	color: #43038e;
	font-size: 140%;
}

.padding {
	clear: both;
	padding: 5px;
}

.selected {
	background-color: yellow;
	padding: 0px;
	border-spacing: 0px;
	clear: none;
}

.flash {
	clear: both;
	padding: 5px;
	border-style: solid;
	border-color: red;
}

.formHelpers {
	float: right;
	padding: 20px;
}

.schemaFormColumn {
	width: 1000px;
	padding: 10px;
	float: left;
}

.schemaFormTable {
	width: auto;
	float: left;
}

.schemaFormMainFacts {
	float: left;
}

.mainFactDescription {
	float: left;
	clear: both;
	margin-top: 10px;
}

.mainFactDescriptionLabel {
	width: 150px;
	float: left;
}

.mainFactDescriptionInput {
	margin-left: 100px;
	float: left;
}

.mainFactDescriptionInputError {
	margin-left: 100px;
	border-style: solid;
	border-color: red;
	float: left;
}

.factDescriptionInput {
	
}

.factDescriptionInputError {
	border-style: solid;
	border-color: red;
}

.pinButton {
	font-size: 150%;
	margin: 15px;
}

.factName {
	width: 150px;
	float: left;
	clear: both;
}

.fact {
	float: left;
}

.factInput {
	float: left;
}

.factInputError {
	border-style: solid;
	border-color: red;
}

.error {
	border-style: solid;
	border-color: red;
}

.buttonHolder {
	clear: both;
	float: left;
}

.buttonTd {
	width: 100%;
}

.buttonRightHolder {
	float: right;
	clear: none;
}

.leftButton {
	float: left;
	clear: none;
}

.rightButton {
	float: right;
	clear: none;
}

.validationFacts {
	float: left;
	clear: none;
}

.validationTd {
	word-break: break-all;
}

.portraits {
	clear: both;
	float: left;
}

.issuingDocumentFacts {
	clear: both;
	float: left;
}

.fieldPermissions {
	float: left;
}

.allDocuments {
	clear: both;
	float: left;
	padding: 5px;
}

.yourStatus {
	clear: both;
	float: left;
	padding: 5px;
}

.groupIcon {
	padding: 5px;
}

.permissions {
	
}

.permissionsInputError {
	border-color: red;
	border-style: solid;
	width: 340px;
}

.subjectInputError {
	border-color: red;
	border-style: solid;
	width: 340px;
}

.fieldDescriptionName {
	clear: both;
	float: left;
	width: 150px;
}

.fieldDescriptionSample {
	float: left;
}

.fieldDescriptionFactType {
	float: left;
}

.subject {
	clear: both;
	float: left;
}

.padded {
	padding: 5px;
}

.subjectName {
	clear: both;
	float: left;
	padding: 5px;
}

.subjectValue {
	float: left;
}

.certificate {
	width: 100%;
	clear: both;
	float: left;
	padding: 5px;
}

.certificateDetails {
	width: 100%;
	clear: both;
	float: left;
}

.validocSeal {
	float: right;
}

.validocSealMeaning {
	clear: both;
	padding: 5px;
}

.description {
	clear: both;
	padding: 5px
}

.certificateDetails {
	float: left;
}

.schemaDetails {
	float: left;
	clear: both;
	padding: 10px;
}

.purpleTitleBar {
	word-wrap: break-word;
	float: left;
	clear: both;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	font-size: 140%;
	background-color: #680381;
	color: white;
}

.certificateSubject {
	float: left;
}

.membership {
	clear: both;
	float: left;
	padding: 5px;
}

.templates {
	clear: both;
	float: left;
	padding: 5px;
}

.inviteToGroup {
	clear: both;
	float: left;
}

.subjectName {
	clear: both;
	float: left;
}

.subjectValue {
	float: left;
}

.linedTable {
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

textarea {
	width: 400px;
	height: 100px;
}

.permissionsInput>textarea {
	width: 400px;
	height: 30px;
}

.tick {
	width: 20px;
	height: 20px;
}

.qrcode {
	display: block;
	float: left;
	padding: 10px;
	margin: 5px;
	background-color: #FFF;
}

.valiDocLogo {
	float: left;
}

.login {
	float: right;
}

.mainContent {
	float: left;
	clear: both;
	width: 100%;
}

.menuLine {
	width: 100%;
	height: 20px;
	border-style: solid;
	border-width: 0px;
	font-weight: bold;
	font-size: 130%;
	padding: 2px;
	clear: both;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.menu {
	float: left;
	padding: 2px;
	padding-right: 20px;
}

.indexLeftColumn {
	padding: 10px;
	width: 300px;
	float: left;
	clear: both;
}

.indexMiddleColumn {
	padding: 10px;
	width: 950px;
	font-size: 130%;
	float: left;
}

.leftColumn {
	margin: 10px;
	width: 350px;
	float: left;
	clear: both;
	border-width: 1px; /*  1px top & bottom border,  0px left & right */
	border-color: #680381;
	border-style: solid;
}

.middleColumn {
	margin: 10px;
	width: 500px;
	float: left;
	border-width: 1px; /*  1px top & bottom border,  0px left & right */
	border-color: #680381;
	border-style: solid;
}

.timeLine {
	
}

.bottomRightColumn {
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(255, 255, 255, 1);
	width: 500px;
	border-width: 1px;
	border-color: #680381;
	border-style: solid;
	margin: 10px;
}

.rightColumn {
	float: left;
	width: 500px;
	/*      box-sizing: border-box; */
	border-width: 1px;
	border-color: #680381;
	border-style: solid;
	margin: 10px;
}

.middleAndRightColumn {
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 400px;
	width: 100%;
	position: absolute;
	top: 30;
	left: 0px;
}

.leftColumnBox {
	clear: both;
}

.groupDetailsTableDiv {
	padding: 5px;
}

.groupsCard {
	clear: both;
}

.subTitle {
	font-weight: bold;
	font-size: 150%;
	color: #662d91;
	background-color: #c9a8ea;
	padding: 5px;
	clear: both;
}

.groupCard {
	overflow: auto;
	clear: both;
	margin: 5px;
	padding: 0px;
	border-style: solid;
	border-color: #680381;
	border-width: 1px;
}

.groupCardTitle {
	padding: 5px;
	background-color: #e2d1f6;
}

.groupCardTitleSelected {
	padding: 5px;
	font-weight: bold;
	font-size: 150%;
	background-color: #4a4a4c;
	color: white;
}

.groupCardBody {
	clear: both;
}

.usageLongValueTd {
	word-break: break-all;
}

.validocSmallSeal {
	float: left;
	clear: both;
	width: 50px;
	padding: 5px;
	background-color: white;
}

.groupCardSchemas {
	float: left;
	width: 427px;;
}

.groupCardSchemaEven {
	float: left;
	clear: both;
	width: 100%;
	background-color: #f6eff4;
}

.groupCardSchemaOdd {
	float: left;
	clear: both;
	width: 100%;
	background-color: #e7e0e5;
}

.groupCardSchemaEvenSelected {
	float: left;
	clear: both;
	width: 100%;
	background-color: #4a4a4c;
	color: white;
}

.groupCardSchemaOddSelected {
	float: left;
	clear: both;
	width: 100%;
	background-color: #4a4a4c;
	color: white;
}

.validateColumn {
	padding: 10px;
	width: 630px;
	float: left;
	clear: both;
}

.documentSealColumn {
	padding: 5px;
	width: 150px;
	float: left;
	clear: both;
}

.documentSealTitleColumn {
	padding: 0px;
	width: 150px;
	float: left;
	color: #680381;
	font-weight: bold;
}

.documentSealValueColumn {
	padding: 0px;
	width: 150px;
	float: left;
	color: black;
}

.column {
	padding: 10px;
	float: left;
}

.wholeColumn {
	clear: both;
	float: left;
	width: 100%;
}

.bottom {
	clear: both;
}

.subjectTable {
	padding: 0px;
}

hr {
	clear: both;
	border: 0px;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}

table,th,td {
	border: 0px solid black;
	vertical-align: top;
	text-align: left;
}

input[type=text] {
	width: 330px;
	height: 20px;
	margin: 5px;
	border
	=0px;
}

input[class=pinField] {
	font-size: 200%;
	height: 80px;
	margin-top: 100px;
}

.parameterTdName {
	color: #680381;
	font-weight: bold;
	padding: 5px;
	font-size: 150%;
}

.parameterTdValue {
	color: black;
	padding: 5px;
	font-size: 150%;
}

.TdName {
	color: #680381;
	font-weight: bold;
}

.tdGroupSelected {
	color: black;
	font-weight: bold;
	padding: 2px;
}

.tdSchema {
	padding: 2px;
}

.TdValue {
	color: black;
	padding: 2px;
}

.subjectTdName {
	color: #680381;
	font-weight: bold;
	padding: 2px;
}

.subjectTdValue {
	color: black;
	padding: 2px;
}

.knownTdName {
	background-color: LightGray;
}

.knownTdValue {
	background-color: LightGray;
}